:root {
  --body-bg-color: #0E131A;
  --primary-default-active-bg-color: #0099ed;
  --primary-default-active-border-color: #0099ed;
  --primary-default-active-text-color: white;
  --primary-default-hover-bg-color: #008edb;
  --primary-default-hover-border-color: #008edb;
  --primary-default-hover-text-color: white;
  --primary-default-focus-bg-color: #0074b3;
  --primary-default-focus-border-color: #0074b3;
  --primary-default-focus-text-color: white;
  --primary-default-disabled-bg-color: #d5d5d5;
  --primary-default-disabled-border-color: #d5d5d5;
  --primary-default-disabled-text-color: #5a5a5a;
  --primary-default-input-text-color: #06283d;
  --primary-default-input-color: #f2f5fa;
  --primary-default-disabled-input-color: #e6e6e6;
  --primary-default-disabled-input-text-color: #757575;
  --primary-default-invalid-input-color: #faeaea;
  --primary-default-light-color: #e5f6ff;
  --primary-outline-active-bg-color: white;
  --primary-outline-active-border-color: #e5e9ec;
  --primary-outline-active-text-color: #0099ed;
  --primary-outline-hover-bg-color: white;
  --primary-outline-hover-border-color: #008edb;
  --primary-outline-hover-text-color: #008edb;
  --primary-outline-focus-bg-color: white;
  --primary-outline-focus-border-color: #0074b3;
  --primary-outline-focus-text-color: #0074b3;
  --primary-outline-disabled-bg-color: ;
  --primary-outline-disabled-border-color: #d5d5d5;
  --primary-outline-disabled-text-color: #6e6d6d;
  --primary-outline-input-text-color: #06283d;
  --primary-outline-input-color: none;
  --primary-outline-disabled-input-color: none;
  --primary-outline-disabled-input-text-color: #949494;
  --primary-outline-border-color: #e5e9ec;
  --primary-outline-invalid-input-color: none;
  --primary-outline-invalid-border-color: #c92629;
  --primary-outline-focus-visible-border-color: #0099ed;
  --primary-success-active-bg-color: #418259;
  --primary-success-active-border-color: #418259;
  --primary-success-active-text-color: white;
  --primary-success-disabled-bg-color: #8db49b;
  --primary-success-disabled-border-color: #8db49b;
  --primary-success-disabled-text-color: white;
  --primary-success-hover-bg-color: #2a553a;
  --primary-success-hover-border-color: #2a553a;
  --primary-success-hover-text-color: white;
  --primary-success-focus-bg-color: #22452f;
  --primary-success-focus-border-color: #22452f;
  --primary-success-focus-text-color: white;
  --primary-success-outline-active-bg-color: white;
  --primary-success-outline-active-border-color: #E5E9EC;
  --primary-success-outline-active-text-color: #418259;
  --primary-success-outline-disabled-bg-color: white;
  --primary-success-outline-disabled-border-color: #8db49b;
  --primary-success-outline-disabled-text-color: #8db49b;
  --primary-success-outline-hover-bg-color: white;
  --primary-success-outline-hover-border-color: #2a553a;
  --primary-success-outline-hover-text-color: #2a553a;
  --primary-success-outline-focus-bg-color: white;
  --primary-success-outline-focus-border-color: #22452f;
  --primary-success-outline-focus-text-color: #22452f;
  --primary-warning-active-bg-color: #ff9f29;
  --primary-warning-active-border-color: #ff9f29;
  --primary-warning-active-text-color: #000000;
  --primary-warning-disabled-bg-color: #ffce93;
  --primary-warning-disabled-border-color: #ffce93;
  --primary-warning-disabled-text-color: #808285;
  --primary-warning-hover-bg-color: #ffb75f;
  --primary-warning-hover-border-color: #ffb75f;
  --primary-warning-hover-text-color: #2e2f32;
  --primary-warning-focus-bg-color: #a65b00;
  --primary-warning-focus-border-color: #a65b00;
  --primary-warning-focus-text-color: white;
  --primary-warning-outline-active-bg-color: white;
  --primary-warning-outline-active-border-color: #E5E9EC;
  --primary-warning-outline-active-text-color: #a65b00;
  --primary-warning-outline-disabled-bg-color: white;
  --primary-warning-outline-disabled-border-color: #bb915e;
  --primary-warning-outline-disabled-text-color: #bb915e;
  --primary-warning-outline-hover-bg-color: white;
  --primary-warning-outline-hover-border-color: #a65b00;
  --primary-warning-outline-hover-text-color: #a65b00;
  --primary-warning-outline-focus-bg-color: white;
  --primary-warning-outline-focus-border-color: #805c30;
  --primary-warning-outline-focus-text-color: #805c30;
  --primary-danger-active-bg-color: #c92629;
  --primary-danger-active-border-color: #c92629;
  --primary-danger-active-text-color: #ffffff;
  --primary-danger-hover-bg-color: #a61f22;
  --primary-danger-hover-border-color: #a61f22;
  --primary-danger-hover-text-color: #ffffff;
  --primary-danger-focus-text-color: #ffffff;
  --primary-danger-focus-bg-color: #80181a;
  --primary-danger-focus-border-color: #80181a;
  --primary-danger-disabled-bg-color: #f6cecf;
  --primary-danger-disabled-border-color: #e46e71;
  --primary-danger-disabled-text-color: #e46e71;
  --primary-danger-outline-active-bg-color: #ffffff;
  --primary-danger-outline-active-border-color: #c92629;
  --primary-danger-outline-active-text-color: #e46e71;
  --primary-danger-outline-hover-bg-color: white;
  --primary-danger-outline-hover-border-color: #a61f22;
  --primary-danger-outline-hover-text-color: #c92629;
  --primary-danger-outline-focus-bg-color: white;
  --primary-danger-outline-focus-border-color: #80181a;
  --primary-danger-outline-focus-text-color: #80181a;
  --primary-danger-outline-disabled-bg-color: white;
  --primary-danger-outline-disabled-border-color: #e46e71;
  --primary-danger-outline-disabled-text-color: #f6cecf;
  --secondary-default-active-bg-color: #5f6f94;
  --secondary-default-active-border-color: #5f6f94;
  --secondary-default-active-text-color: white;
  --secondary-default-hover-bg-color: #4a5673;
  --secondary-default-hover-border-color: #4a5673;
  --secondary-default-hover-text-color: white;
  --secondary-default-focus-bg-color: #384157;
  --secondary-default-focus-border-color: #384157;
  --secondary-default-focus-text-color: white;
  --secondary-default-disabled-bg-color: #f2f5fa;
  --secondary-default-disabled-border-color: #f2f5fa;
  --secondary-default-disabled-text-color: #b6b6b6;
  --secondary-default-tertiary-disabled-color: #949494;
  --secondary-default-tertiary-hover-color: #3b3f44;
  --secondary-default-tertiary-focus-color: #3b3f44;
  --secondary-default-light-color: #f2f5fa;
  --secondary-outline-active-bg-color: white;
  --secondary-outline-active-border-color: #e5e9ec;
  --secondary-outline-active-text-color: #5f6f94;
  --secondary-outline-hover-bg-color: white;
  --secondary-outline-hover-border-color: #4a5673;
  --secondary-outline-hover-text-color: #4a5673;
  --secondary-outline-focus-bg-color: white;
  --secondary-outline-focus-border-color: #384157;
  --secondary-outline-focus-text-color: #384157;
  --secondary-outline-disabled-bg-color: #ffffff;
  --secondary-outline-disabled-border-color: #f2f5fa;
  --secondary-outline-disabled-text-color: #949494;
  --secondary-danger-active-bg-color: #faeaea;
  --secondary-danger-active-border-color: #faeaea;
  --secondary-danger-active-text-color: #c92629;
  --secondary-danger-hover-bg-color: #faeaea;
  --secondary-danger-hover-border-color: #a61f22;
  --secondary-danger-hover-text-color: #a61f22;
  --secondary-danger-focus-bg-color: #faeaea;
  --secondary-danger-focus-border-color: #80181a;
  --secondary-danger-focus-text-color: #80181a;
  --secondary-danger-disabled-bg-color: #f6cecf;
  --secondary-danger-disabled-border-color: #f6cecf;
  --secondary-danger-disabled-text-color: #e46e71;
  --secondary-danger-outline-active-bg-color: white;
  --secondary-danger-outline-active-border-color: #faeaea;
  --secondary-danger-outline-active-text-color: #c92629;
  --secondary-danger-outline-hover-bg-color: white;
  --secondary-danger-outline-hover-border-color: #a61f22;
  --secondary-danger-outline-hover-text-color: #a61f22;
  --secondary-danger-outline-focus-bg-color: white;
  --secondary-danger-outline-focus-border-color: #80181a;
  --secondary-danger-outline-focus-text-color: #80181a;
  --secondary-danger-outline-disabled-bg-color: white;
  --secondary-danger-outline-disabled-border-color: #f6cecf;
  --secondary-danger-outline-disabled-text-color: #f6cecf;
  --tertiary-default-active-bg-color: white;
  --tertiary-default-active-border-color: transparent;
  --tertiary-default-active-text-color: #0099ED;
  --tertiary-default-hover-bg-color: #F2F5FA;
  --tertiary-default-hover-border-color: transparent;
  --tertiary-default-hover-text-color: #0074B3;
  --tertiary-default-focus-bg-color: #F2F5FA;
  --tertiary-default-focus-border-color: transparent;
  --tertiary-default-focus-text-color: #0074B3;
  --tertiary-default-disabled-bg-color: #F2F5FA;
  --tertiary-default-disabled-border-color: transparent;
  --tertiary-default-disabled-text-color: #0099ED;
  --tertiary-outline-active-bg-color: white;
  --tertiary-outline-active-border-color: transparent;
  --tertiary-outline-active-text-color: #5F6F94;
  --tertiary-outline-hover-bg-color: #F2F5FA;
  --tertiary-outline-hover-border-color: #F2F5FA;
  --tertiary-outline-hover-text-color: #4A5673;
  --tertiary-outline-focus-bg-color: #E6EBF2;
  --tertiary-outline-focus-border-color: #F2F5FA;
  --tertiary-outline-focus-text-color: #4A5673;
  --tertiary-outline-disabled-bg-color: white;
  --tertiary-outline-disabled-border-color: transparent;
  --tertiary-outline-disabled-text-color: #949494;
  --tertiary-success-active-bg-color: white;
  --tertiary-success-active-border-color: transparent;
  --tertiary-success-active-text-color: #418259;
  --tertiary-success-hover-bg-color: #2A553A;
  --tertiary-success-hover-border-color: #2A553A;
  --tertiary-success-hover-text-color: white;
  --tertiary-success-focus-bg-color: #2A553A;
  --tertiary-success-focus-border-color: #2A553A;
  --tertiary-success-focus-text-color: white;
  --tertiary-success-outline-active-bg-color: white;
  --tertiary-success-outline-active-border-color: #E5E9EC;
  --tertiary-success-outline-active-text-color: #418259;
  --tertiary-success-outline-outline-bg-color: white;
  --tertiary-success-outline-outline-border-color: #8db49b;
  --tertiary-success-outline-outline-text-color: #8db49b;
  --tertiary-success-outline-hover-bg-color: white;
  --tertiary-success-outline-hover-border-color: #2a553a;
  --tertiary-success-outline-hover-text-color: #2a553a;
  --tertiary-success-outline-focus-bg-color: white;
  --tertiary-success-outline-focus-border-color: #22452f;
  --tertiary-success-outline-focus-text-color: #22452f;
  --tertiary-success-outline-disabled-bg-color: white;
  --tertiary-success-outline-disabled-border-color: #418259;
  --tertiary-success-outline-disabled-text-color: #418259;
  --tertiary-warning-active-bg-color: white;
  --tertiary-warning-active-border-color: transparent;
  --tertiary-warning-active-text-color: #A65B00;
  --tertiary-warning-hover-bg-color: #ffb75f;
  --tertiary-warning-hover-border-color: #ffb75f;
  --tertiary-warning-hover-text-color: #0E131A;
  --tertiary-warning-focus-bg-color: #a65b00;
  --tertiary-warning-focus-border-color: #a65b00;
  --tertiary-warning-focus-text-color: white;
  --tertiary-warning-disabled-bg-color: white;
  --tertiary-warning-disabled-border-color: white;
  --tertiary-warning-disabled-text-color: #A65B00;
  --tertiary-warning-outline-active-bg-color: white;
  --tertiary-warning-outline-active-border-color: #E5E9EC;
  --tertiary-warning-outline-active-text-color: #a65b00;
  --tertiary-warning-outline-disabled-bg-color: white;
  --tertiary-warning-outline-disabled-border-color: #bb915e;
  --tertiary-warning-outline-disabled-text-color: #bb915e;
  --tertiary-warning-outline-hover-bg-color: white;
  --tertiary-warning-outline-hover-border-color: #a65b00;
  --tertiary-warning-outline-hover-text-color: #a65b00;
  --tertiary-warning-outline-focus-bg-color: white;
  --tertiary-warning-outline-focus-border-color: #805c30;
  --tertiary-warning-outline-focus-text-color: #805c30;
  --tertiary-danger-active-bg-color: #c92629;
  --tertiary-danger-active-border-color: transparent;
  --tertiary-danger-active-text-color: #e46e71;
  --tertiary-danger-hover-bg-color: #FAEAEA;
  --tertiary-danger-hover-border-color: transparent;
  --tertiary-danger-hover-text-color: #c92629;
  --tertiary-danger-focus-bg-color: #F6CECF;
  --tertiary-danger-focus-border-color: transparent;
  --tertiary-danger-focus-text-color: #80181a;
  --tertiary-danger-disabled-bg-color: #F6CECF;
  --tertiary-danger-disabled-border-color: transparent;
  --tertiary-danger-disabled-text-color: #E46E71;
  --tertiary-danger-outline-active-bg-color: #ffffff;
  --tertiary-danger-outline-active-border-color: #c92629;
  --tertiary-danger-outline-active-text-color: #e46e71;
  --tertiary-danger-outline-hover-bg-color: white;
  --tertiary-danger-outline-hover-border-color: #a61f22;
  --tertiary-danger-outline-hover-text-color: #c92629;
  --tertiary-danger-outline-focus-bg-color: white;
  --tertiary-danger-outline-focus-border-color: #80181a;
  --tertiary-danger-outline-focus-text-color: #80181a;
  --tertiary-danger-outline-disabled-bg-color: white;
  --tertiary-danger-outline-disabled-border-color: #e46e71;
  --tertiary-danger-outline-disabled-text-color: #f6cecf;
  --success-default-active-bg-color: #418259;
  --success-default-active-text-color: white;
  --success-default-disabled-color: #8db49b;
  --success-default-disabled-text-color: white;
  --success-default-hover-color: #2a553a;
  --success-default-hover-text-color: white;
  --success-default-focus-color: #22452f;
  --success-default-focus-text-color: white;
  --success-default-tertiary-disabled-color: #8db49b;
  --success-default-tertiary-hover-color: #3b3f44;
  --success-default-tertiary-focus-color: #3b3f44;
  --success-default-light-color: #f5fff8;
  --success-outline-active-bg-color: transparent;
  --success-outline-active-border-color: #418259;
  --success-outline-active-text-color: #418259;
  --success-outline-hover-bg-color: transparent;
  --success-outline-hover-border-color: #2A553A;
  --success-outline-hover-text-color: #2A553A;
  --success-outline-focus-bg-color: transparent;
  --success-outline-focus-border-color: #22452F;
  --success-outline-focus-text-color: #22452F;
  --success-outline-disabled-bg-color: transparent;
  --success-outline-disabled-border-color: #8DB49B;
  --success-outline-disabled-text-color: #8db49b;
  --warning-default-active-bg-color: #FF9F29;
  --warning-default-active-text-color: #000000;
  --warning-default-disabled-color: #FFCE93;
  --warning-default-disabled-text-color: #808285;
  --warning-default-tertiary-disabled-color: #ca9d66;
  --warning-default-tertiary-hover-color: #3b3f44;
  --warning-default-tertiary-focus-color: #3b3f44;
  --warning-default-hover-color: #FFB75F;
  --warning-default-hover-text-color: #2e2f32;
  --warning-default-focus-color: #A65B00;
  --warning-default-focus-text-color: white;
  --warning-default-light-color: #fff6ea;
  --warning-outline-active-bg-color: transparent;
  --warning-outline-active-border-color: #A65B00;
  --warning-outline-active-text-color: #A65B00;
  --warning-outline-hover-bg-color: transparent;
  --warning-outline-hover-border-color: #A65B00;
  --warning-outline-hover-text-color: #A65B00;
  --warning-outline-focus-bg-color: transparent;
  --warning-outline-focus-border-color: #A65B00;
  --warning-outline-focus-text-color: #805c30;
  --warning-outline-disabled-bg-color: transparent;
  --warning-outline-disabled-border-color: #A65B00;
  --warning-outline-disabled-text-color: #bb915e;
  --danger-default-active-bg-color: #c92629;
  --danger-default-active-text-color: #ffffff;
  --danger-default-disabled-color: #E46E71;
  --danger-default-disabled-text-color: #F6CECF;
  --danger-default-hover-color: #A61F22;
  --danger-default-focus-text-color: #ffffff;
  --danger-default-focus-color: #80181a;
  --danger-default-hover-text-color: #ffffff;
  --danger-default-tertiary-disabled-color: #e46e71;
  --danger-default-tertiary-hover-color: #3b3f44;
  --danger-default-tertiary-focus-color: #3b3f44;
  --danger-default-light-color: #faeaea;
  --danger-outline-active-bg-color: transparent;
  --danger-outline-active-border-color: #C92629;
  --danger-outline-active-text-color: #e46e71;
  --danger-outline-hover-bg-color: transparent;
  --danger-outline-hover-border-color: #C92629;
  --danger-outline-hover-text-color: #C92629;
  --danger-outline-focus-bg-color: transparent;
  --danger-outline-focus-border-color: #80181A;
  --danger-outline-focus-text-color: #80181A;
  --danger-outline-disabled-bg-color: transparent;
  --danger-outline-disabled-border-color: #E46E71;
  --danger-outline-disabled-text-color: #E46E71;
  --custom-default-active-bg-color: #0099ed;
  --custom-default-inactive-bg-color: #e6ebf2;
  --custom-default-hover-bg-color: #5f6f94;
  --custom-default-disabled-bg-color: #949494;
  --custom-default-shadow-color: rgba(138, 149, 158, 0.4);
  --custom-default-background-color: #262a30;
  --context-menu-bg-color: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #0E131A;
  --context-menu-text-color: white;
  --context-menu-item-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #0E131A;
  --mat-menu-bg-color: #0E131A;
  --mat-menu-item-text-color: white;
  --tree-outer-bg-color: rgba(193, 196, 198, 0.1);
  --tree-outer-border-right-color: rgba(193, 196, 198, 0.1);
  --tree-outer-border-top-color: rgba(193, 196, 198, 0.1);
  --tree-outer-text-color: #e6ebf2;
  --tree-span-hover-color: #e5f6ff;
  --tree-span-focus-color: #e5f6ff;
  --tree-span-hover-TextColor: #4b556c;
  --tree-span-focus-Text-Color: #424f6f;
  --tree-span-focus-Border-Color: #0099ED;
  --tree-span-bg-Color: #ffffff;
  --tree-span-text-Color: #5F6F94;
  --tree-span-menuDivider-Color: #e0e0e0;
  --toolbar-container-bg-color: #0E131A;
  --toolbar-heading-color: white;
  --grid-item-bg-color: rgba(255, 255, 255, 0.05);
  --eventCardToolbar-header-bg-color: rgba(255, 255, 255, 0.1);
  --eventCardToolbar-heading-color: #ffffff;
  --eventCard-outer-container-bg-color: #0E131A;
  --eventCard-header-bg-color: rgba(255, 255, 255, 0.05);
  --eventCard-image-status-bg-color: #31353B;
  --eventCard-details-heading-color: #D7DBE4;
  --eventCard-details-sub-heading-color: #D7DBE4;
  --eventCard-footer-bg-color: rgba(255, 255, 255, 0.05);
  --eventCard-footer-span-color: #AEB6C9;
  --eventCard-footer-border-top-color: 1px solid rgba(193, 196, 198, 0.1);
  --eventCard-svg-fill-color: white;
  --eventCard-inner-container-hover-bg-color: rgba(255, 255, 255, 0.05);
}/*# sourceMappingURL=dark.css.map */