$lightTheme: (
  primary: (
    default: (
      active-bg-color: #0099ed,
      active-border-color: #0099ed,
      active-text-color: white,
      hover-bg-color: #008edb,
      hover-border-color: #008edb,
      hover-text-color: white,
      focus-bg-color: #0074b3,
      focus-border-color: #0074b3,
      focus-text-color: white,
      disabled-bg-color: #d5d5d5,
      disabled-border-color: #d5d5d5,
      disabled-text-color: #5a5a5a,
      //updated for input
      input-text-color: #06283d,
      input-color: #f2f5fa,
      disabled-input-color: #e6e6e6,
      disabled-input-text-color: #757575,
      invalid-input-color: #faeaea,
      light-color:#e5f6ff
    ),
    outline: (
      active-bg-color: white,
      active-border-color: #e5e9ec,
      active-text-color: #0099ed,
      hover-bg-color: white,
      hover-border-color: #008edb,
      hover-text-color: #008edb,
      focus-bg-color: white,
      focus-border-color: #0074b3,
      focus-text-color: #0074b3,
      disabled-bg-color: "",
      disabled-border-color: #d5d5d5,
      disabled-text-color: #6e6d6d,

      //updated for input
      input-text-color: #06283d,
      input-color: none,
      disabled-input-color: none,
      disabled-input-text-color: #949494,
      border-color: #e5e9ec,
      invalid-input-color: none,
      invalid-border-color: #c92629,
      focus-visible-border-color: #0099ed,
    ),
    success: (
      active-bg-color: #418259,
      active-border-color: #418259,
      active-text-color: white,
      disabled-bg-color: #8db49b,
      disabled-border-color: #8db49b,
      disabled-text-color: white,
      hover-bg-color: #2a553a,
      hover-border-color: #2a553a,
      hover-text-color: white,
      focus-bg-color: #22452f,
      focus-border-color: #22452f,
      focus-text-color: white,
    ),
    success-outline: (
      active-bg-color: white,
      active-border-color: #E5E9EC,
      active-text-color: #418259,
      disabled-bg-color: white,
      disabled-border-color: #8db49b,
      disabled-text-color: #8db49b,
      hover-bg-color: white,
      hover-border-color: #2a553a,
      hover-text-color: #2a553a,
      focus-bg-color: white,
      focus-border-color: #22452f,
      focus-text-color: #22452f,
    ),

    warning: (
      active-bg-color: #ff9f29,
      active-border-color: #ff9f29,
      active-text-color: #000000,
      disabled-bg-color: #ffce93,
      disabled-border-color: #ffce93,
      disabled-text-color: #808285,
      hover-bg-color: #ffb75f,
      hover-border-color: #ffb75f,
      hover-text-color: #2e2f32,
      focus-bg-color: #a65b00,
      focus-border-color: #a65b00,
      focus-text-color: white,
    ),
    warning-outline: (
      active-bg-color: white,
      active-border-color: #E5E9EC,
      active-text-color: #a65b00,
      disabled-bg-color: white,
      disabled-border-color: #bb915e,
      disabled-text-color: #bb915e,
      hover-bg-color: white,
      hover-border-color: #a65b00,
      hover-text-color: #a65b00,
      focus-bg-color: white,
      focus-border-color: #805c30,
      focus-text-color: #805c30,
    ),
    danger: (
      active-bg-color: #c92629,
      active-border-color: #c92629,
      active-text-color: #ffffff,
      hover-bg-color: #a61f22,
      hover-border-color: #a61f22,
      hover-text-color: #ffffff,
      focus-text-color: #ffffff,
      focus-bg-color: #80181a,
      focus-border-color: #80181a,
      disabled-bg-color: #f6cecf,
      disabled-border-color: #e46e71,
      disabled-text-color: #e46e71,
    ),
    danger-outline: (
      active-bg-color: #ffffff,
      active-border-color: #c92629,
      active-text-color: #e46e71,
      hover-bg-color: white,
      hover-border-color: #a61f22,
      hover-text-color: #c92629,
      focus-bg-color: white,
      focus-border-color: #80181a,
      focus-text-color: #80181a,
      disabled-bg-color: white,
      disabled-border-color: #e46e71,
      disabled-text-color: #f6cecf,
    ),
  ),
  secondary: (
    default: (
      active-bg-color: #5f6f94,
      active-border-color: #5f6f94,
      active-text-color: white,
      hover-bg-color: #4a5673,
      hover-border-color: #4a5673,
      hover-text-color: white,
      focus-bg-color: #384157,
      focus-border-color: #384157,
      focus-text-color: white,
      disabled-bg-color: #f2f5fa,
      disabled-border-color: #f2f5fa,
      disabled-text-color: #b6b6b6,
      tertiary-disabled-color: #949494,
      tertiary-hover-color:#3b3f44,
      tertiary-focus-color:#3b3f44,
      light-color:#f2f5fa
    ),
    outline: (
      active-bg-color: white,
      active-border-color: #e5e9ec,
      active-text-color: #5f6f94,
      hover-bg-color: white,
      hover-border-color: #4a5673,
      hover-text-color: #4a5673,
      focus-bg-color: white,
      focus-border-color: #384157,
      focus-text-color: #384157,
      disabled-bg-color: #ffffff,
      disabled-border-color: #f2f5fa,
      disabled-text-color: #949494,
    ),
    danger: (
      active-bg-color: #faeaea,
      active-border-color: #faeaea,
      active-text-color: #c92629,
      hover-bg-color: #faeaea,
      hover-border-color: #a61f22,
      hover-text-color: #a61f22,
      focus-bg-color: #faeaea,
      focus-border-color: #80181a,
      focus-text-color: #80181a,
      disabled-bg-color: #f6cecf,
      disabled-border-color: #f6cecf,
      disabled-text-color: #e46e71,
    ),
    danger-outline: (
      active-bg-color: white,
      active-border-color: #faeaea,
      active-text-color: #c92629,
      hover-bg-color: white,
      hover-border-color: #a61f22,
      hover-text-color: #a61f22,
      focus-bg-color: white,
      focus-border-color: #80181a,
      focus-text-color: #80181a,
      disabled-bg-color: white,
      disabled-border-color: #f6cecf,
      disabled-text-color: #f6cecf,
    ),
  ),
  tertiary: (
    default: (
      active-bg-color: white,
      active-border-color: transparent,
      active-text-color: #0099ED,
      hover-bg-color: #F2F5FA,
      hover-border-color: transparent,
      hover-text-color: #0074B3,
      focus-bg-color: #F2F5FA,
      focus-border-color: transparent,
      focus-text-color: #0074B3,
      disabled-bg-color: #F2F5FA,
      disabled-border-color: transparent,
      disabled-text-color: #0099ED,

    ),
    outline: (
      active-bg-color: white,
      active-border-color: transparent,
      active-text-color: #5F6F94,
      hover-bg-color:  #F2F5FA,
      hover-border-color: #F2F5FA,
      hover-text-color: #4A5673,
      focus-bg-color:  #E6EBF2,
      focus-border-color: #F2F5FA,
      focus-text-color: #4A5673,
      disabled-bg-color: white,
      disabled-border-color: transparent,
      disabled-text-color: #949494,
    ),
    success: (
      active-bg-color: white,
      active-border-color: transparent,
      active-text-color: #418259,
      hover-bg-color: #2A553A,
      hover-border-color: #2A553A,
      hover-text-color: white,
      focus-bg-color: #2A553A,
      focus-border-color: #2A553A,
      focus-text-color: white,
    ),
    success-outline: (
      active-bg-color: white,
      active-border-color: #E5E9EC,
      active-text-color: #418259,
      outline-bg-color: white,
      outline-border-color: #8db49b,
      outline-text-color: #8db49b,
      hover-bg-color: white,
      hover-border-color: #2a553a,
      hover-text-color: #2a553a,
      focus-bg-color: white,
      focus-border-color: #22452f,
      focus-text-color: #22452f,
      disabled-bg-color: white,
      disabled-border-color:  #418259,
      disabled-text-color: #418259,
    ),

    warning: (
      active-bg-color: white,
      active-border-color: transparent,
      active-text-color: #A65B00,
      hover-bg-color: #ffb75f,
      hover-border-color: #ffb75f,
      hover-text-color: #0E131A,
      focus-bg-color: #a65b00,
      focus-border-color: #a65b00,
      focus-text-color: white,
      disabled-bg-color: white,
      disabled-border-color: white,
      disabled-text-color: #A65B00,
    ),
    warning-outline: (
      active-bg-color: white,
      active-border-color: #E5E9EC,
      active-text-color: #a65b00,
      disabled-bg-color: white,
      disabled-border-color: #bb915e,
      disabled-text-color: #bb915e,
      hover-bg-color: white,
      hover-border-color: #a65b00,
      hover-text-color: #a65b00,
      focus-bg-color: white,
      focus-border-color: #805c30,
      focus-text-color: #805c30,
    ),
    danger: (
      active-bg-color: #c92629,
      active-border-color: transparent,
      active-text-color: #e46e71,
      hover-bg-color: #FAEAEA,
      hover-border-color: transparent,
      hover-text-color: #c92629,
      focus-bg-color: #F6CECF,
      focus-border-color: transparent,
      focus-text-color: #80181a,
      disabled-bg-color: #F6CECF,
      disabled-border-color: transparent,
      disabled-text-color: #E46E71,
    ),
    danger-outline: (
      active-bg-color: #ffffff,
      active-border-color: #c92629,
      active-text-color: #e46e71,
      hover-bg-color: white,
      hover-border-color: #a61f22,
      hover-text-color: #c92629,
      focus-bg-color: white,
      focus-border-color: #80181a,
      focus-text-color: #80181a,
      disabled-bg-color: white,
      disabled-border-color: #e46e71,
      disabled-text-color: #f6cecf,
    ),
  ),
  success : (
    default: (
      active-bg-color: #418259,
      active-text-color: white,
      disabled-color: #8db49b,
      disabled-text-color: white,
      hover-color:#2a553a,
      hover-text-color:white ,
      focus-color:#22452f,
      focus-text-color: white,
       tertiary-disabled-color: #8db49b,
      tertiary-hover-color:#3b3f44,
      tertiary-focus-color:#3b3f44,
      light-color:#f5fff8
    ),
    outline : (
      active-bg-color : transparent,
      active-border-color : #418259,
      active-text-color : #418259,
      hover-bg-color : transparent,
      hover-border-color : #2A553A,
      hover-text-color : #2A553A,
      focus-bg-color : transparent,
      focus-border-color : #22452F,
      focus-text-color : #22452F,
      disabled-bg-color : transparent,
      disabled-border-color : #8DB49B,
      disabled-text-color : #8db49b,
    )
  ),
  warning : (
    default: (
      active-bg-color: #FF9F29,
      active-text-color: #000000,
      disabled-color: #FFCE93,
      disabled-text-color: #808285,
      tertiary-disabled-color: #ca9d66,
      tertiary-hover-color:#3b3f44,
      tertiary-focus-color:#3b3f44,
      hover-color:#FFB75F,
      hover-text-color:#2e2f32 ,
      focus-color:#A65B00,
      focus-text-color: white,
      light-color:#fff6ea
    ),
    outline : (
      active-bg-color : transparent,
      active-border-color : #A65B00,
      active-text-color : #A65B00,
      hover-bg-color : transparent,
      hover-border-color : #A65B00,
      hover-text-color : #A65B00,
      focus-bg-color : transparent,
      focus-border-color : #A65B00,
      focus-text-color : #805c30,
      disabled-bg-color : transparent,
      disabled-border-color : #A65B00,
      disabled-text-color : #bb915e,
    )
  ),
  danger : (
    default: (
      active-bg-color: #c92629,
      active-text-color: #ffffff,
      disabled-color: #E46E71,
      disabled-text-color: #F6CECF,
      hover-color:#A61F22,
      focus-text-color: #ffffff,
      focus-color:#80181a,
      hover-text-color: #ffffff,
      tertiary-disabled-color: #e46e71,
      tertiary-hover-color:#3b3f44,
      tertiary-focus-color:#3b3f44,
      light-color:#faeaea
    ),
    outline : (
      active-bg-color : transparent,
      active-border-color : #C92629,
      active-text-color : #e46e71,
      hover-bg-color : transparent,
      hover-border-color : #C92629,
      hover-text-color : #C92629,
      focus-bg-color : transparent,
      focus-border-color : #80181A,
      focus-text-color : #80181A,
      disabled-bg-color : transparent,
      disabled-border-color : #E46E71,
      disabled-text-color : #E46E71,
    )

  ),
  custom: (
    default: (
      active-bg-color: #0099ed,
      inactive-bg-color: #e6ebf2,
      hover-bg-color: #5f6f94,
      disabled-bg-color: #949494,
      shadow-color:rgba(138, 149, 158, 0.4),
      border-color : #e6ebf2,
      background-color:#ffffff,
    ),
  ),
 
);

$components : (
  context-menu : (
    context-menu-bg-color : white,
    context-menu-text-color : #5F6F94,
    context-menu-item-hover-color : #e5f6ff,
  ),
  menu : (
    mat-menu-bg-color : white,
    mat-menu-item-text-color : #5F6F94,
  ),  
  tree-view : (
      tree-outer-bg-color : #fff,
      tree-outer-border-right-color : #e6ebf2,
      tree-outer-border-top-color : #e6ebf2,
      tree-outer-text-color : #5F6F94,
      tree-span-hover-color: #e5f6ff,
      tree-span-focus-color: #e5f6ff,
      tree-span-hover-TextColor: #4b556c,
      tree-span-focus-Text-Color: #424f6f,
      tree-span-focus-Border-Color : #0099ED,
      tree-span-bg-Color: #ffffff,
      tree-span-text-Color: #5F6F94,
      tree-span-menuDivider-Color: #e0e0e0
    ),
  grid-toolbaar : (
    toolbar-container-bg-color : #fff,
    toolbar-heading-color : #06283D,
  ),
  video-grid : (
    grid-item-bg-color : #fff
  ),
    eventCards : (
    eventCardToolbar-header-bg-color : #ffffff,
    eventCardToolbar-heading-color : #06283D,
    eventCardToolbar-header-top-border-color : #e6ebf2,
    eventCard-outer-container-bg-color : #e5e9ec,
    eventCard-header-bg-color : #ffffff,
    eventCard-image-status-bg-color : #ffffff,
    eventCard-details-heading-color : #5f6f94,
    eventCard-details-sub-heading-color : #5f6f94,
    eventCard-footer-bg-color : #ffffff,
    eventCard-footer-span-color : #5F6F94,
    eventCard-footer-border-top-color : #E6EBF2,
    eventCard-inner-container-hover-bg-color : linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 19.17%, #EFF1F5 50%),
    eventCard-noEvent-bg-color : #fff,
    eventCard-noEvent-icon-bg-color : #f2f5fa,
  )
);
:root {
  --body-bg-color :  #F2F5FA;
  @each $theme-name, $theme in $lightTheme {
    //to fetch primary, secondary, tertiary
    @each $color-name, $color in $theme {
      // to fetch default, outline, danger, danger-outline
      @each $type-name, $type in $color {
        // to fetch active-bg-color, active-text-color, hover-bg-color, hover-text-color, focus-bg-color, focus-text-color, disabled-bg-color, disabled-text-color
        @each $value in $type {
          // to fetch the value of each type
          --#{$theme-name}-#{$color-name}-#{$type-name}: #{$value};
        }
      }
    }
  }
  @each $component-name, $component in $components {
    @each $component-type, $component-value in $component {
      --#{$component-type}: #{$component-value};
    }
  }
}
