.ztree * {
  font-size: 10pt;
  font-family: 'Microsoft Yahei', Verdana, Simsun, 'Segoe UI Web Light',
    'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', 'Segoe UI Symbol',
    'Helvetica Neue', Arial;
}
/* .ztree li ul{ margin:0; padding:0} */
/* .ztree li {line-height:40px;} */
.ztree li a {
  height: 25px;
  padding: 0px 9px 0px 0px;
}
.ztree li a:hover {
  text-decoration: none;
  background-color: #e7e7e7;
  border-radius: 10px;
}
.ztree li a span.button.switch {
  visibility: hidden;
}
.ztree.showIcon li a span.button.switch {
  visibility: visible;
}
.ztree li a.curSelectedNode {
  background-color: #d4d4d4;
  border: 2;
  height: 30px;
  border-radius: 10px;
}
.ztree li span {
  line-height: 25px;
}
.ztree li span.button {
  margin-top: 4px;
}
.ztree li span.button.switch {
  width: 16px;
  height: 16px;
  margin-top: -5px;
  margin-right: 5px;
}
/* select with attribute xy */

.ztree li a.level0 span {
  font-size: 110%;
  font-weight: bold;
}

.ztree li a.level1 span {
  font-size: 100%;
  font-weight: bold;
}
.ztree li span.button {
  background-image: url('./img/left_menuForOutLook.png');
  *background-image: url('./img/left_menuForOutLook.gif');
}
.ztree li span.button.switch.level0 {
  width: 20px;
  height: 20px;
}
.ztree li span.button.switch.level1 {
  width: 20px;
  height: 20px;
}
.ztree li span.button.noline_open {
  background-position: 0 0;
}
.ztree li span.button.noline_close {
  background-position: -18px 0;
}
.ztree li span.button.noline_open.level0 {
  background-position: 0 -18px;
}
.ztree li span.button.noline_close.level0 {
  background-position: -18px -18px;
}

.ztree li span.button.chk {
  line-height: 0;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('./img/zTreeStandard.png');
  *background-image: url('./img/zTreeStandard.gif');
}
/* .ztree li span.button.center_open {background-position: 0 0;}
.ztree li span.button.center_close {background-position: -18px 0;}
.ztree li span.button.center_open.level0 {background-position: 0 -18px;}
.ztree li span.button.center_close.level0 {background-position: -18px -18px;} */
